source_env_if_exists .env.local

# Get the name of the container volume our devcontainer project is persisted in.
# (REMOTE_CONTAINERS_IPC is set by vscode if we're in a devcontainer.)
if [[ ${REMOTE_CONTAINERS_IPC:-} && ! "${DENOKV_DEV_WORKSPACE_MOUNT_SRC:-}" ]]; then
  DENOKV_DEV_WORKSPACE_MOUNT_SRC=$(
    jq < <(docker container inspect "$(hostname)") -er \
      '.[] | .HostConfig.Mounts[] | select(.Target == "/workspaces") | .Source'
  )
  export DENOKV_DEV_WORKSPACE_MOUNT_SRC
fi
